<h4 class="si-story-title"><%= title %></h4>
<p class="si-story-meta">
    <span class="si-story-author"><%= author %></span> | 
    <span class="si-story-date"><%= date %></span>
</p>
<div class="si-story-excerpt"><%= excerpt %></div>