<div class="si-widget-wrapper si-<%= theme %>">
	<h2 class="si-header">
		<a href="http://stateimpact.npr.org/<%= state %>/" class="si-site-link"><span class="si-logo">StateImpact</span> <span class="si-state"><%= state %></span></a>
	</h2>
	<div class="si-content"></div>
</div>
